{% extends 'musico/base.html' %}

{% block titulo %}
	Registro Album
{% endblock titulo %}

		{% block maincontent %}
				<div class="row well">
    		<form enctype="multipart/form-data" method="POST" class="form-4">{% csrf_token %}
					<h2 ALIGN=center>Nuevo Album</h2>
					<h2></h2>
    				{{ formulario.as_p }}
    				<button type="submit" class="save btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
    		</form>
				</div>
		{% endblock maincontent %}
